<html>
<head>
	<title>Optimize</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>

</head>

<body >
    <%= yield %>

    <div id="footer">
      © 2011-2012 <%=link_to('R.Arifulov','https://github.com/utoplenick')%>, <%=link_to('A.Chernyshev','https://github.com/kenjione')%>. <br />
      special thanks to <%= link_to('G.Averchuk','https://github.com/newmen') %>. <br/>
      optimize methods on <%= link_to('github', 'https://github.com/kenjione/optimize_methods')%>
    </div>

</body>
</html>
