</head>
<body>
	<table>
        <%= render_output_form(result)%>
        <tr>
            <td>
                <img src="<%="/"+params[:name].to_s%>.png?<%= Time.now.to_i %>" />
            </td>

            <td>
                <b>Результаты:</b>
                <table>
                    <% for i in 0..1 %>
                    <tr><td>
                        x[<%=(i+1)%>] = <%= print_float(result.draw_points[-1][i])%>
                    </td></tr>
                    <% end %>
                    <!--<tr><td>Минимум функции: <%=result.y[-1].inspect%></td></tr>-->
                    <tr><td><form action = "/" method = "get"> <input type="submit" value="взад!" /> </form></td></tr>
                </table>

            </td>
		</tr>
	</table>
</body>
</html>
